form {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-card {
  width: 30em;
}

mat-card-title {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  margin: 0.5em;
}

.mat-error {
  color: red;
}

a {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
  color: #484b57
}
